
@font-face {
  font-family: 'AkzidenzGroteskBE-Bold';
  src: url('AkzidenzGroteskBE-Bold.eot?#iefix') format('embedded-opentype'),  url('AkzidenzGroteskBE-Bold.otf')  format('opentype'),
	     url('AkzidenzGroteskBE-Bold.woff') format('woff'), url('AkzidenzGroteskBE-Bold.ttf')  format('truetype'), url('AkzidenzGroteskBE-Bold.svg#AkzidenzGroteskBE-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
